.btn
{
  ////////////////////////////////////////////////////
  //
  //                  Global
  //
  ////////////////////////////////////////////////////

  @extend .pt-s;
  @extend .pr-xl;
  @extend .pb-s;
  @extend .pl-xl;

  @extend .br-xxl;
  @extend .bg-primary05;

  @extend .c-grey00;
  @extend .f-s;

  $root: '.btn';

  &:hover,
  &:focus
  {
    background: #afde59;
    text-decoration: none;
    outline: none;
  }

  &:active
  {
    transform: scale(.98);
  }

  ////////////////////////////////////////////////////
  //
  //                  States
  //
  ////////////////////////////////////////////////////
  &.-disabled,
  &:disabled
  {
    cursor: not-allowed;
    opacity: .5;
  }
}
