extends ../layouts/one-column

block vars
  - bodyClass = 'page-home'
  - layoutClass = 'layout-one-column'

block body
  //- --------------------------------------------------------------------------
  //- 
  //-     Welcome
  //- 
  //- --------------------------------------------------------------------------
  section.welcome
    article.welcome__illustration
      h1.welcome__logo
        
    div.inner.welcome__inner
      article.welcome__description.section-divider
        h2.heading1 Artisan ébéniste
        h3.heading2 Je conçois et réalise avec vous des meubles, des cuisines équipées sur mesure au design personalisé.
      article.welcome__offer.section-divider
        ul.offer__list
          li.offer__item
            span.icon.icon-spatula
            div.offer__description
              span.offer__itemtitle Cuisines équipées
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li.offer__item
            span.icon.icon-archive
            div.offer__description
              span.offer__itemtitle Meubles
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li.offer__item
            span.icon.icon-design
            div.offer__description
              span.offer__itemtitle Design personalisé
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      article.welcome__cta
        a.btn(href="#") Obtenir un devis
    
  //- --------------------------------------------------------------------------
  //- 
  //-     Work
  //- 
  //- --------------------------------------------------------------------------
  section.work
    div.inner.work__inner
      h2.heading1 Réalisations récentes
      
      article.work__list
        div.work__item
          div.work__illustration
            img(src="", alt="Table de salon en chêne")
          div.work__description
            div.work__title Table de salon en chêne
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
        div.work__item
          div.work__illustration
            img(src="", alt="Cuisine équipée sur mesure en frêne")
          div.work__description
            div.work__title Cuisine équipée sur mesure en frêne
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
        div.work__item
          div.work__illustration
            img(src="", alt="Escalier de coin")
          div.work__description
            div.work__title Escalier de coin
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    
  //- --------------------------------------------------------------------------
  //- 
  //-     Contact
  //- 
  //- --------------------------------------------------------------------------
  section.contact
    div.inner.contact__inner
      div.contact__infos
        h2.heading1 Contact
        h3.heading2 Un projet en tête ? Contacter moi, je me ferai un plaisir de vous accompagner dans toutes les étapes de votre projet.
        
        a(href="tel:+32 488 88 88 88") +32 488 88 88 88 
        br
        a(href="mailto:benoit@artzdesign.com") benoit@artzdesign.com
      div.contact__cta
        a.btn(href="#") Obtenir un devis
      div.contact__testimony
        
      
      
      
