.page-home
{
  $root: ".page-home";

  ////////////////////////////////////////////////////
  //
  //                  Introduction
  //
  ////////////////////////////////////////////////////

  .introduction
  {
    min-height: 30vh;
    padding-top: 2.5em;
    padding-bottom: 2.5em;

    @include media-down('s')
    {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .introduction__second,
    .introduction__third
    {
      margin-left: calc(8.3333% + 2rem);

      @include media-down('m')
      {
        margin-left: 0rem;
      }
    }

    h2
    {
      @extend .mt-none;
      @extend .mb-none;

      @extend .f-xxl;
      @extend .f-sherif-thin;
      @extend .c-grey06;
      line-height: 1.3;
    }

    h2,
    h3
    {
      strong
      {
        @extend .inline;
        transition: all ease-out .3s;

        &:hover
        {
          @extend .c-primary10;
          @extend .pl-xxs;
          @extend .pr-xxs;
          @extend .bg-primary05;
        }
      }
    }

    h3
    {
      @extend .mt-xs;

      @extend .f-light;
      @extend .f-xl;
      @extend .c-grey02;
      line-height: 1.3;

      width: 80%;

      @include media-down('m')
      {
        width: 100%;
      }

      strong
      {
        @extend .c-grey06;
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //                  projects
  //
  ////////////////////////////////////////////////////

  .projects
  {
    padding-top: 5em;
    padding-bottom: 5em;
    min-height: 30vh;
    vertical-align: top;

    box-shadow: inset 0px -100px 100px rgba($primary05, .1);

    @include media-down('xs')
    {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    @include media-down('m')
    {
      .projects__first
      {
        margin-bottom: 2em;
      }
    }

    .bg
    {
      top: -1rem;
      left: 2rem;

      .big-triangle
      {
        @extend .absolute;

        $scale: 5;

        right: (100 * ($scale - 1)) * 1px;
        bottom: (100 * ($scale - 1)) * 1px;
        transform-origin: top left;
        transform: scale($scale);
        opacity: .4;
      }
    }

    .item
    {
      @extend .inline;
      @extend .relative;

      @extend .mr-m;
      @extend .text-center;

      height: 350px;

      @include media-down('s')
      {
        width: 100%;
        margin-top: 2em;
        margin-right: 0;
        margin-bottom: 0;

      }
      @include media-down('m')
      {
        height: 300px;
      }

      width: calc(50% - 2em);
      margin-bottom: 48px;

      .item__first
      {
        @extend .relative;

        @extend .flex;
        @extend .p-m;
        @extend .pb-xl;

        @include media-down('s')
        {
          border-color: #F7F7F7;
        }

        flex-direction: column;
        transition: border-color .7s;

        .item__logo
        {
          opacity: .3;

          transition: opacity .7s;

          @include media-down('xs')
          {
            opacity: 1;
          }
        }

        .item__title
        {
          @extend .mb-xs;
          @extend .relative;

          @extend .heading2;
          @extend .c-primary10;

          &:after
          {
            @extend .block;
            @extend .relative;
            @extend .bg-primary05;

            content: '';
            bottom: 0;
            height: .125em;
            width: 1em;
            margin: auto;
          }
        }
        .item__legend
        {
          @extend .m-none;
          @extend .paragraph;
          @extend .c-grey06;
        }
      }

      .item__second
      {
        @extend .relative;
        @extend .w-100;

        margin-top: -16px;
        transition: margin .7s;

        .item__button
        {
          @extend .block;
          @extend .absolute;

          @extend .br-circle;
          @extend .bs-solid;
          @extend .bw-m;

          @extend .text-center;
          @extend .c-primary05;


          width: 32px;
          height: 32px;
          margin: auto;
          margin-left: 50%;
          transform: translateX(-50%);

          vertical-align: middle;
          border-color: currentColor;

          transition: border .7s, background .7s, transition .7s, height .7s, width .7s;

          &::after,
          &::before
          {
            content: "";
            position: absolute;
            box-shadow: inset 0 0 0 32px;
            left: 50%;
            top: 50%;

            transform: translate(-50%, -50%);
            transition: all .3s;

          }
          &::before
          {
            width: 12px;
            height: 2px;
          }
          &::after
          {
            width: 2px;
            height: 12px;
          }
        }
      }

      &.active,
      &:hover
      {

        .item__first
        {
          border-color: #F7F7F7;

          .item__logo
          {
            opacity: 1;
          }
        }

        .item__second
        {
          margin-top: -24px;
          .item__button
          {
            @extend .bg-accent00;
            @extend .c-grey00;

            @extend .bs-l;
            @extend .bc-accent00;

            width: 48px;
            height: 48px;

            &::after,
            &::before
            {
              width: 12px;
              height: 2px;

              bottom: 0;
              right: 2;

              transform-origin: right;
            }

            &::before
            {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after
            {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
      }
    }
  }








}
