.page-home
{
  $root: ".page-home";

  ////////////////////////////////////////////////////
  //
  //    Layout
  //
  ////////////////////////////////////////////////////
  section
  {
    .inner
    {
      max-width: 700px;
      margin: auto;

      &.-outset
      {
        max-width: 1000px;
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //    Welcome
  //
  ////////////////////////////////////////////////////
  .welcome
  {
    @extend .mb-xxl;
    @extend .text-center;

    .welcome__illustration
    {
      background: url("../images/illustration.svg") no-repeat;
      background-size: 100%;

      height: 70vh;

      .welcome__logo
      {
        @extend .relative;
        @extend .m-none;

        background: url("../images/logo.svg") no-repeat;
        width: 192px;
        height: 273px;
        margin: 0 auto;
        top: 10vh;
      }
    }

    .welcome__description
    {
      .heading2
      {
        max-width: 500px;
        margin: auto;
      }
    }

    .welcome__offer
    {
      .offer__list
      {
        @extend .flex;
        @extend .m-none;
        @extend .p-none;

        list-style: none;

        @extend .text-left;

      }

      .offer__item
      {
        @extend .flex;
        @extend .mr-l;

        &:last-child
        {
          @extend .mr-none;
        }

        .icon
        {
          @extend .flex;
          @extend .flex-center;
          @extend .flex-middle;

          $size: 44px;
          width: $size;
          min-width: $size;
          height: $size;
          min-height: $size;

          @extend .mr-m;

          border: 1px solid $grey01;
          @extend .br-circle;

          @extend .c-primary05;
        }

        .offer__itemtitle
        {
          @extend .block;
          @extend .mb-s;

          @extend .item-title;
        }

        .offer__itemdescription
        {
          @extend .block;

          @extend .item-content;
        }
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //    Work
  //
  ////////////////////////////////////////////////////
  .work
  {
    background: $grey01;

    .heading1
    {
      @extend .m-none;
      @extend .pt-xl;
      @extend .pb-xl;

      @extend .text-center;
    }

    .work__item
    {
      @extend .flex;

      @extend .mb-xl;

      &:last-child
      {
        @extend .mb-none;
        @extend .pb-xxl;
      }

      .work__illustration
      {
        flex: 3;

        @extend .embed-responsive;
        @extend .embed-responsive-16by8;

        border: 1px solid $grey02;

        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 8px,
          $grey02 8px,
          $grey02 9px
        );
      }

      .work__description
      {
        flex: 1;

        @extend .pl-m;

        .work__title
        {
          @extend .item-title;
        }

        .work__except
        {
          @extend .item-content;
        }
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //    Contact
  //
  ////////////////////////////////////////////////////
  .contact
  {
    .heading1
    {
      @extend .m-none;
      @extend .pt-xl;
      @extend .pb-xl;

      @extend .text-center;
    }

    .contact__infos
    {
      @extend .text-center;
      
      a
      {
        @extend .block;
        @extend .heading2;
      }
    }
  }
}
