header.header.row(data-aos="fade-up", style="background-image:url('"+bg+"')")
  .contained
    div.first.col-sm-offset-1.col-xs-3
      +alexandremasy-logo()
    div.second.col-xs-9.col-sm-7.text-right
      a.plus(href="#")
