.header
{
  ////////////////////////////////////////////////////
  //
  //                  Global
  //
  ////////////////////////////////////////////////////

  @extend .mt-none;
  @extend .ml-none;
  @extend .mr-none;
  @extend .mb-xl;

  ////////////////////////////////////////////////////
  //
  //                  Navigation
  //
  ////////////////////////////////////////////////////
  $colors: (
    #96ED57,
    #EDD157,
    #ED7857,
    #579AED,
    #D957ED,
    #ED578B,
    #57EDD4
  );
  $prct: 100% / length($colors);

  @keyframes plus-hover
  {
    0%{ stroke: #57EDD4; }
    @for $i from 1 through length($colors)
    {
      #{$prct * $i}
      {
        background: #{nth($colors, $i)};
      }
    }
  }

  .plus
  {
    @extend .relative;
    @extend .inline;
    @extend .mt-m;

    $size: 54px;
    $thickness: 6px;

    width: $size;
    height: $size;

    &:hover
    {
      &::before,
      &::after
      {
        animation: plus-hover 4s linear infinite alternate;
        animation-fill-mode: forwards;
      }
    }

    &::before,
    &::after
    {
      @extend .absolute;
      @extend .bg-grey07;
      @extend .br-m;

      content: "";
    }

    // vertical
    &::before
    {
      width: $thickness;
      height: $size;

      left: ($size - $thickness) / 2;
      top: 0;
    }

    // horizontal
    &::after
    {
      width: $size;
      height: $thickness;

      top: ($size - $thickness) / 2;
      left: 0;
    }
  }
}
