.primary
{
  ////////////////////////////////////////////////////
  //
  //                  Global
  //
  ////////////////////////////////////////////////////

  @extend .fixed;
  @extend .w-100;
  @extend .h-100;

  top: 0;
  left: 0;

  z-index: 9;
  opacity: 0;
  pointer-events: none;

  .inner
  {
    @extend .relative;
    @extend .flex;
    @extend .w-100;
    @extend .h-100;

    flex-direction: column;

    .first
    {
      @extend .relative;
      @extend .bg-primary05;

      @extend .br-m;
      @extend .bs-xxl;

      width: 80vw;
      height: 80vh;
      top: 10vh;
      left: 10vw;
      z-index: 1;

      .contained
      {
        @extend .flex;
        @extend .h-100;
        flex-direction: column;
      }

      .bottom
      {
        @extend .pb-m;
        @extend .flex;

        flex-grow: 1;
        align-items: flex-end;
      }
    }
    .second
    {
      @extend .absolute;

      @extend .w-100;
      @extend .h-100;
      top: 0;
      left: 0;

      background: repeating-linear-gradient(
        45deg,
        $primary05,
        $primary05 1em,
        $grey00 1em,
        $grey00 2em
      );
      z-index: 0;
    }
  }

  .alexandremasy-logo
  {
    @extend .inline;
    transform: scale(.8);
    transform-origin: left;

    .step1
    {
      stroke: $grey00;
    }
    .step2
    {
      stroke: darken($primary05, 15%);
    }
  }

  .minus
  {
    @extend .relative;
    @extend .inline;
    @extend .mt-m;

    $size: 54px;
    $thickness: 6px;

    width: $size;
    height: $size;

    &:hover
    {
      &::after
      {
        animation: background-colored 4s linear infinite alternate;
        animation-fill-mode: forwards;
      }
    }

    &::before,
    &::after
    {
      @extend .absolute;
      @extend .br-m;

      content: "";
    }

    // vertical
    &::before
    {
      background: darken($primary05, 15%);
      width: $thickness;
      height: $size;

      left: ($size - $thickness) / 2;
      top: 0;
    }

    // horizontal
    &::after
    {
      @extend .bg-grey00;

      width: $size;
      height: $thickness;

      top: ($size - $thickness) / 2;
      left: 0;
    }
  }

  .primary__list
  {
    @extend .p-none;
    @extend .c-grey00;

    list-style: none;

    &:hover
    {
      color: darken($primary05, 10%);
    }
  }

  .primary__link
  {
    @extend .inline;
    @extend .w-100;

    @extend .f-sherif-light;
    @extend .f-xxl;
    @extend .c-current;

    transition: color .3s, padding .3s;

    &:hover
    {
      @extend .c-grey00;
      @extend .pl-m;
    }
  }

  .mail
  {
    @extend .inline;
    @extend .w-100;

    @extend .c-grey00;
    @extend .text-center;
    @extend .f-xs;
  }

  .social
  {
    @extend .p-none;
    @extend .m-none;
    @extend .w-100;

    @extend .c-grey00;

    bottom: 1rem;
    list-style: none;

    &:hover
    {
      color: darken($primary05, 10%);
    }

    .social__item
    {
      @extend .inline;
      @include media-down("s")
      {
        &:first-child
        {
          display: block;
        }
      }
    }

    .social__link
    {
      @extend .inline;

      @extend .pt-xs;
      @extend .pl-xs;
      @extend .pr-xs;

      @extend .c-current;
      @extend .f-m;

      transition: color .3s, padding .3s;

      &:first-child
      {
        @extend .pl-none;
      }

      &:hover
      {
        @extend .c-grey00;
      }
    }
  }

  ////////////////////////////////////////////////////
  //
  //                  Transition
  //
  ////////////////////////////////////////////////////
  &.-active
  {
    animation: 1s primary-transition;
    animation-fill-mode: forwards;

    pointer-events: all;
  }

  @keyframes primary-transition
  {
    0%
    {
      opacity: 0;
      transform: translateY(-10px);
    }
    100%
    {
      opacity: 1;
      transform: translateY(0px);
    }
  }

}
