////////////////////////////////////////////////////
//
//              1. styleguide
//
////////////////////////////////////////////////////

$sg-border: #e6e6e6;
$sg-boxbg: #f8f9fb;
$sg-highlight: #0A90D0;
$sg-text-subtil: #979797;
$sg-text-normal: #323232;
