.styleguide
{
  .primary
  {
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: 1px solid $sg-border;

    header
    {
      border-bottom: 1px solid $sg-border;

      text-align: center;
      padding: 45px 0px;

      h1
      {
        line-height: .8;
        font-size: 1.5rem;
      }
      h2
      {
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 1;
        font-size: .8rem;
        font-weight: 400;
      }
    }

    ul
    {
      margin: 0;
      padding: 0;

      list-style: none;
      border-bottom: 1px solid $sg-border;

      li
      {
        a
        {
          display: inline-block;
          width: 100%;
          font-size: 1rem;
          text-decoration: none;
        }
      }

      .level1
      {
        & > a
        {
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-pack: center;

          padding: 16px;
          color: $sg-text-normal;
          font-family: "Dosis";
          font-size: 1.2rem;
          font-weight: 600;

          .icon
          {
            &::before
            {
              content: "▴";
            }
            // @extend .icon-arrow-right;
          }
        }

        &.active
        {
          & > a
          {
            border-bottom: 1px solid $sg-border;
          }

          .icon
          {
            &::before
            {
              content: "▾";
            }
          }

          .level2, .level3
          {
            display: block;
          }
        }
      }
      .level2,
      .level3
      {
        display: none;

        a
        {
          color: $sg-text-subtil;
          transition: color .3s;

          &:hover
          {
            color: $sg-text-normal;
          }
        }

        &.active
        {
          a
          {
            color: $sg-highlight;
            text-decoration: none;
          }
        }
      }

      .level2
      {
        background: $sg-boxbg;

        & > a
        {
          padding: 16px 32px;
        }
      }
      .level3
      {
        & > a
        {
          padding: 16px 45px;
        }
      }
    }

    footer
    {
      padding: 45px 15px;

      text-align: center;

      a
      {
        padding: 5px;

        .illustration
        {
          display: inline-block;

          svg
          {
            width: 30px;
            height: 30px;

            filter: grayscale(100%);
          }
        }
      }

    }
  }
}
