body
{
  @extend .w-100;

  @extend .f-regular;

  height: auto;
  box-sizing: border-box;

  font-size: $font-size-base;
}

a
{
  &:hover,
  &:focus,
  &:active
  {
    text-decoration: none;
  }
}

.heading1
{
  @extend .f-heading;
  @extend .f-l;
  @extend .c-grey06;
}

.heading2
{
  @extend .f-light;
  @extend .f-m;
  @extend .c-grey06;
}

.section-divider
{
  &::after
  {
    content: "";

    display: block;

    @extend .mt-xl;
    @extend .mb-xl;
    margin-left: auto;
    margin-right: auto;

    height: 1px;
    width: 64px;

    @extend .bg-primary05;
  }
}

p
{
  @extend .m-none;
  @extend .f-m;
  @extend .f-light;

  strong, em
  {
    @extend .f-regular;
  }
}

////////////////////////////////////////////////////
//
//                  Main
//
////////////////////////////////////////////////////
.main
{
  max-width: 1440px;
  margin: auto;

  @include media-up('xxl')
  {
    max-width: 100%;
  }

  .contained
  {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
