.layout-unfold-footer
{
  &.-clipped
  {
    @extend .h-100;

    max-height: 100%;
    overflow: hidden;
  }

  .content
  {
    @extend .relative;
    @extend .bs-xl;
    background: linear-gradient(to bottom, $grey00 60%, #e5f7f4 100%);

    overflow-x: hidden;
    z-index: 1;
    margin-bottom: 85vh;
  }

  .subcontent,
  .subcontent p
  {
    @extend .f-xxl;
    @extend .f-sherif-light;
    @extend .f-regular;
    @extend .c-primary05;

    line-height: 1.2;

    margin-left: 2rem;
  }

  .subcta
  {
    @extend .relative;
    @extend .inline;

    @extend .mt-l;
    @extend .p-s;

    @extend .bw-s;
    @extend .bs-solid;
    @extend .bc-grey02;
    @extend .br-m;

    @extend .c-grey04;
    @extend .f-s;

    margin-left: 2rem;
    overflow: hidden;

    transition: border-color .3s, color .3s, box-shadow .3s;

    @include media-down('xs')
    {
      margin-left: 0;
    }

    &::after
    {
      @extend .absolute;
      @extend .bg-accent00;
      @extend .br-circle;

      content: '';
      top: 33%;
      left: 33%;
      width: 10px;
      height: 10px;
      opacity: 0;
      z-index: 0;

      transition: transform ease-out 1s, opacity .3s;
    }

    .subcta__icon,
    .subcta__label
    {
      @extend .relative;
      z-index: 1;
      pointer-events: none;
    }

    &:hover
    {
      @extend .bs-xl;
      @extend .bc-accent00;
      @extend .c-grey10;

      &::after
      {
        transform: scale(50);
        opacity: 1;
      }
    }
  }

  .bg
  {
    @extend .absolute;
    @extend .h-100;
    @extend .w-100;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 0;
    overflow: hidden;
    pointer-events: none;

    .orion
    {
      @extend .absolute;

      right: 0;
      top: 0;

      transform-origin: top right;
      transform: scale(2);
      opacity: .3;
    }

    .double-stroke.top
    {
      @extend .absolute;

      opacity: .3;
      top: 150px;
      left: 30%;

      @include media-down('s')
      {
        display: none;
      }
    }

    .face-2-face
    {
      @extend .absolute;

      opacity: .3;

      top: 10%;
      left: 10%;

      transform: scale(2);
    }

    .bigger-face-2-face
    {
      @extend .absolute;

      opacity: .3;

      top: 60%;
      left: 80%;
      transform: scale(1.5);
    }

    .double-stroke.bottom
    {
      @extend .absolute;

      opacity: .3;
      top: 85%;
      left: 40%;

      transform: rotate(90deg);
    }
  }
}
