extend base

block vars
  - layoutClass = 'unfold-footer'

block content
  div.content
    block body
  
  footer.footer
    .footer__inner
      .copyright Design Artz 2017
      
      .social
        ul.social__list
          li.social__item
            a.social__link(href="https://www.facebook.com/DesignArtz/?fref=ts", target="_blank") Facebook
              
          li.social__item
            a.social__link(href="#") Mail
              
          li.social__item
            a.social__link(href="#") Phone
              
