mixin debug
  section.debug.hidden
    div.size
      div.row.ml-none.mr-none
        div.col-xs-12.visible-xs xs
        div.col-xs-12.visible-sm sm
        div.col-xs-12.visible-md md
        div.col-xs-12.visible-lg lg
    div.grid
      div.row
        div.col-xs-1
      div.row
        div.col-xs-2
      div.row
        div.col-xs-3
      div.row
        div.col-xs-4
      div.row
        div.col-xs-5
      div.row
        div.col-xs-6
      div.row
        div.col-xs-7
      div.row
        div.col-xs-8
      div.row
        div.col-xs-9
      div.row
        div.col-xs-10
      div.row
        div.col-xs-11
      div.row
        div.col-xs-12
